/* ============= Кнопка, ведущая в корзину товаров ============= */
.to-cart-button {
	@extend %transition;
	z-index: 100;
	position: fixed;
	bottom: 0;
	right : 0;
	background: $brown url($imgpath + 'to-cart-button__img.png') no-repeat;
	background-size: contain;
	width: 70px;
	height: 70px;
	&:hover {
		cursor: pointer;
	}

	.to-cart-button__text-container {
		position: absolute;
		top: 10%;
		left: 61%;
		width: 28%;
		height: 28%;		
		border-radius: 30px;
		border: 2px solid $lbrown;
		background: white;
		color: white;
		.to-cart-button__text-container__text {
			text-align: center;
			padding: 0;
			margin-top: 0px;
			font: {
				family: $opensans;
				size: 10px;
				color: $brown;
			}
		}

	}

}

 /* ============= Корзина товаров ============= */
.cart {
	.cart__title-container {
		.cart__title-container__title {
			@extend .h2;
		}
	}
	.cart__table {
		@extend .main-table;
		min-height: 80px;

		td:first-child {
			border-right: 1px dashed $brown;	
		}
		td:nth-child(2) {
			text-align: center;
			width: 10%;
			border-right: 1px dashed $brown;
			img {
				width: 80px;
				height: 80px;
				border: 1px dashed $brown;
			}
		}		
		td:nth-child(3) {
			text-align: center;
			width: 10%;
			border-right: 1px dashed $brown;
		}
		td:nth-child(4) {
			text-align: center;
			width: 20%;
			border-right: 1px dashed $brown;
		}		
		td:nth-child(5) {
			text-align: center;
			width: 10%;
		}
		tr:last-child {
			td {
				border-top: 1px solid $brown;
				font-weight: $bold;
			}
		}	
		.cart__table__delete-button {
			@extend .main-button;
			padding: 5px 8px;
			font-size: 12px;
			background: transparent;
			color: $brown;
		}	
	}
	.cart__next-button-container {
		text-align: right;
		.cart__next-button {
			@extend .main-button;
		}
	}
}


 /* ============= Оформление заказа ============= */
.checkout {
	.checkout__title-container {
		.checkout__title-container__title {
			@extend .h2;
		}
	}

	.checkout__checkout-button-container {
		margin-top: 30px;
		text-align: right;
		.checkout__checkout-button {
			@extend .main-button;
		}
	}	

	.checkout__form {
		.checkout__form__input {
			@extend .form-control;
			@extend %transition;
			border-radius: 0;
			border: 1px solid $brown;
			margin-bottom: 10px;
			background: transparent;
			padding: 20px 10px;
			width: 100%;
			font: {
				family: $opensans;
				size: 18px;
				weight: $regular;
			}
			color: $brown;

			&::placeholder {
				@extend %transition;
				color: darken($lbrown,30%);
			}
			&:focus {
				border-color: rgba(73, 20, 4, 0.8);
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(73, 20, 4, 0.2);
				outline: 0 none;
				&::placeholder {
					color: darken($lbrown,10%);
				}
			}
		}
		
	}
}

 /* ============= Магазин кофе ============= */
.shop-coffee {
	.shop-coffee__title-container {
		.shop-coffee__title-container__title {
			@extend .h2;
		}
	}

	.shop-coffee__item {
		@extend .col-sm-6, .col-md-3;
		@extend .center-block;
		max-width: 350px; 
		@include breakpoint($smSize) {
			max-width: none; 
		}
		margin-top: 10px;
		margin-bottom: 10px;
		.shop-coffee__item__inner {
		@extend .col-md-12;
		background: white;
		border: 2px solid $brown;			
			.shop-coffee__item__kg {
				@extend .col-xs-3, .col-md-6, .col-lg-3;
				background: $green;
				.shop-coffee__item__kg__text {
					@extend .text-center;
					margin-bottom: 0;
					color: white;
				}
			}
			.shop-coffee__item__space {
				@extend .col-xs-4, .hidden-md, .col-lg-4;
			}
			.shop-coffee__item__price {
				@extend .col-xs-5, .col-md-6, .col-lg-5;
				background: $green;
				padding-left: 5px;
				padding-right: 5px;				
				.shop-coffee__item__price__text {
					@extend .text-center;
					margin-bottom: 0;
					color: white;
				}
			}
			.shop-coffee__item__image {
				@extend .col-xs-12;
				padding: 30px;
				.shop-coffee__item__image__img {
					@extend .center-block, .img-responsive;
				}
			}
			.shop-coffee__item__description {
				padding: 10px 20px;
				background: $brown;
				min-height: 95px;

				.shop-coffee__item__description__text {
					@extend .text-center;
					color: white;
					margin-bottom: 0;
					font: {
						family: $opensans;
						size: 18px;
						weight: $regular;

					}
				}
			}
			.shop-coffee__item__button-container {
				@extend .text-center;
				
				padding-bottom: 10px;
				background: $brown;
				.shop-coffee__item__button-container__button {
					@extend .btn, %transition;
					padding: 8px 25px;
					background: $lbrown;
					font: {
						family: $opensans;
						size: 14px;
						weight: $bold;
					}
					color: $brown;
					text-transform: uppercase;

					&:hover {
						background: $bgbrown;
						color: lighten($brown,10%);
					}
				}
			}
		}
	}
}


/* ============= Аренда кофемашины ============= */
.rent-coffee-machine {
	.rent-coffee-machine__title-container {
		.rent-coffee-machine__title-container__title {
			@extend .h2;
		}
	}
}


/* ============= Ремонт и обслуживание ============= */
.repair-and-service {
	.repair-and-service__title-container {
		.repair-and-service__title-container__title {
			@extend .h2;
		}
	}
}

/* ============= Страница с контактными данными и картов ============= */
.contacts-and-map {
	.contacts-and-map__title-container {
		.contacts-and-map__title-container__title {
			@extend .h2;
		}
	}
	.contacts-and-map__contacts {
		@extend .col-sm-4, .col-md-3;
		p {
			text-align: center;	
		}
		
		margin-top: 30px;
		margin-bottom: 30px;		
		@include breakpoint($smSize) {
			p {
				text-align: left;	
			}
			
			margin-top: 30px;
			margin-bottom: 30px;
		}
		@include breakpoint($smSize) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

    .contacts-and-map__map {
    	@extend .col-sm-8, .col-md-9;
    		#map {
				width: 100%;
		    	height: 380px;
		    	border: 1px dashed $brown;
		    }
    }
}