$brown: #491404;
$lbrown: #efe6dc;
$bgbrown: #fdf8f2;
$green: #66a729;

$imgpath: '../img/';

$bebas: 'bebas', Arial, sans-serif;
$opensans: 'Open Sans', sans-serif;

$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;
