@import '../scss/style-import';

/* ============= Корзина товаров ============= */

.cart {
  .cart__title-container {
    .cart__title-container__title {
      @extend .h2;
    }
  }
  .cart__table {
    @extend .main-table;
    min-height: 80px;

    td:first-child {
    }
    td:nth-child(2) {
      text-align: center;
      width: 10%;
      img {
        width: 50px;
        height: 50px;
        border: 1px dashed $brown;
        @include breakpoint($xsSize) {
          width: 80px;
          height: 80px;
        }
      }
    }
    td:nth-child(3) {
      text-align: center;
      padding-bottom: 0;
      width: 10%;
    }
    td:nth-child(4) {
      text-align: center;
      color: $green;
      width: 15%;
    }
    td:nth-child(5) {
      text-align: center;
      width: 10%;
    }
    td:nth-child(6) {
      text-align: center;
      width: 10%;
    }

    td:not(:last-child) {
      border-right: 1px dashed $brown;
    }

    tr:last-child {
      td {
        border-top: 1px solid $brown;
        font-weight: $bold;
      }
    }
    .cart__table__delete-button {
      @extend .main-button;
      padding: 5px 8px;
      font-size: 12px;
      background: transparent;
      color: $brown;
    }
    ::selection {
      background: $brown;
      color: $bgbrown;
    }

    ::-moz-selection {
      background: $brown;
      color: $bgbrown;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
    .cart__table__button-add-sub {
      float: left;
      @extend .main-button;
      padding: 1px 1px;
      width: 20px;
      height: 21px;
      font-size: 12px;
      background: transparent;
      color: $brown;
      border: 1px solid $brown;
    }
    .cart__table__button-add {
      @extend .cart__table__button-add-sub;
      border-radius: 0 5px 0px 0;
    }
    .cart__table__button-sub {
      @extend .cart__table__button-add-sub;
      border-radius: 0 0 5px 0px;
    }

    .cont {
      margin: 0 auto;
    }

    .cart__table__input {
      @extend .form-control;
      @extend %transition;
      @extend .text-center;
      float: left;
      border-radius: 0;
      border: 1px solid $brown;
      margin-bottom: 10px;
      background: transparent;
      padding: 20px 5px;
      @include breakpoint($smSize) {
        padding: 20px 10px;
      }
      width: 56%;
      @include breakpoint($xsSize) {
        width: 60%;
      }
      @include breakpoint($smSize) {
        width: 60%;
      }
      @include breakpoint($mdSize) {
        width: 70%;
      }
      @include breakpoint($lgSize) {
        width: 78%;
      }
      font: {
        family: $opensans;
        size: 18px;
        weight: $regular;
      }
      color: $brown;

      &::placeholder {
        @extend %transition;
        color: darken($lbrown, 30%);
      }
      &:focus {
        border-color: rgba(73, 20, 4, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
          0 0 8px rgba(73, 20, 4, 0.2);
        outline: 0 none;
        &::placeholder {
          color: darken($lbrown, 10%);
        }
      }
    }
  }
  .cart__next-button-container {
    text-align: right;
    .cart__next-button {
      @extend .main-button;
    }
  }
}
