@font-face {
  font-family: 'bebas';
  src: url('../fonts/bebas/bebas.eot');
  src: url('../fonts/bebas/bebas.eot') format('embedded-opentype'),
    url('../fonts/bebas/bebas.woff2') format('woff2'),
    url('../fonts/bebas/bebas.woff') format('woff'),
    url('../fonts/bebas/bebas.ttf') format('truetype'),
    url('../fonts/bebas/bebas.svg#bebas') format('svg');
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');
